@model List<Model.EF.Product>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="shoes-grid">
        <a href="single.html">
            <div class="wrap-in">
                <div class="wmuSlider example1 slide-grid">
                    <div class="wmuSliderWrapper">
                        <article style="position: absolute; width: 100%; opacity: 0;">
                            <div class="banner-matter">
                                <img src="/Assets/client/images/TV.png">
                            </div>
                        </article>
                        <article style="position: absolute; width: 100%; opacity: 0;">
                            <div class="banner-matter">
                                <img src="/Assets/client/images/TV2_banner.jpg">
                                <div class="clearfix"> </div>
                            </div>

                        </article>
                        <article style="position: absolute; width: 100%; opacity: 0;">
                            <div class="banner-matter">
                                <img src="/Assets/client/images/TV3_banner.jpg">
                                <div class="clearfix"> </div>
                            </div>
                        </article>
                    </div>
        </a>
        <ul class="wmuSliderPagination">
            <li><a href="#" class="">0</a></li>
            <li><a href="#" class="">1</a></li>
            <li><a href="#" class="">2</a></li>
        </ul>
        <script src="/Assets/client/js/jquery.wmuSlider.js"></script>
        <script>
            $('.example1').wmuSlider();
        </script>
    </div>
</div>
    </a>
<!---->
<div class="shoes-grid-left">
    <a href="single.html">
        <div class="col-md-6 con-sed-grid">
            <img class="img-responsive shoe-left" src="/Assets/client/images/TV1.png" alt=" " />
            <img src="/Assets/client/images/Logo/Sony.png" style="padding-top: 3px;">
            <div class="product_name">Internet TV 40"</div>
            <span class="product_price">10.900.000₫</span>
            <div class="clearfix"> </div>
        </div>
    </a>
    <a href="single.html">
        <div class="col-md-6 con-sed-grid">
            <img class="img-responsive shoe-left" src="/Assets/client/images/TV1.png" alt=" " />
            <img src="/Assets/client/images/Logo/Sony.png" style="padding-top: 3px;">
            <div class="product_name">Internet TV 40"</div>
            <span class="product_price">10.900.000₫</span>
            <div class="clearfix"> </div>
        </div>
    </a>
    <a href="single.html">
        <div class="col-md-6 con-sed-grid">
            <img class="img-responsive shoe-left" src="/Assets/client/images/TV1.png" alt=" " />
            <img src="/Assets/client/images/Logo/Sony.png" style="padding-top: 3px;">
            <div class="product_name">Internet TV 40"</div>
            <span class="product_price">10.900.000₫</span>
            <div class="clearfix"> </div>
        </div>
    </a>
</div>
<div class="products">
    <h5 class="latest-product">Điện thoại</h5>
    <a class="view-all" href="product.html">Xem tất cả</a>
</div>
<div class="product-left">
    @foreach (var item in Model)
    {
        var url = "/chi-tiet/" + item.MetaTitle + "-" + item.ID;
        <div class="col-md-4 chain-grid">
            <a href="@url"><img class="img-responsive chain" src="@item.Image" alt=" " /></a>
            <span class="star"> </span>
            <div class="grid-chain-bottom">
                <h6><a href="@url" style="font-size: 15px;">@item.Name</a></h6>
                <div class="star-price">
                    <div class="dolor-grid">
                        <span class="product_price_bot">@item.Price.ToString("N0")₫</span>
                    </div>
                    <button title="Thêm vào giỏ hàng" class="btn" onclick="return GetQuantityCartItem(@item.ID)"><span class="add_to_cart"></span></button>
                    <div class="clearfix"> </div>
                </div>
            </div>
        </div>
    }
    <div class="clearfix"> </div>
    <!--/them-gio-hang?productid=***item.ID&quantity=1-->
</div>
<div class="products">
    <h5 class="latest-product">Sản phẩm mới</h5>
    <a class="view-all" href="product.html">Xem tất cả<span> </span></a>
</div>
<div class="product-left">
    <div class="col-md-4 chain-grid">
        <a href="single.html"><img style="height: 210px;" class="img-responsive chain" src="/Assets/client/images/New/New1.jpg" alt=" " /></a>
        <span class="star"> </span>
        <div class="grid-chain-bottom">
            <h6><a href="single.html" style="font-size: 15px;">Samsung Galaxy J7 Pro</a></h6>
            <div class="star-price">
                <div class="dolor-grid">
                    <span class="product_price_bot">7.900.000₫</span>
                </div>
                <a href="#" title="Thêm vào giỏ hàng"><span class="add_to_cart"></span></a>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 chain-grid">
        <a href="single.html"><img class="img-responsive chain" src="/Assets/client/images/New/New2.jpg" alt=" " /></a>
        <span class="star"> </span>
        <div class="grid-chain-bottom">
            <h6><a href="single.html">Iphone 6 Plus</a></h6>
            <div class="star-price">
                <div class="dolor-grid">
                    <span class="product_price_bot">7.900.000₫</span>
                </div>
                <a href="#" title="Thêm vào giỏ hàng"><span class="add_to_cart"></span></a>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 chain-grid">
        <a href="single.html"><img class="img-responsive chain" src="/Assets/client/images/New/New3.png" alt=" " /></a>
        <span class="star"> </span>
        <div class="grid-chain-bottom">
            <h6><a href="single.html">Asus Zenfone 4 Max Pro</a></h6>
            <div class="star-price">
                <div class="dolor-grid">
                    <span class="product_price_bot">7.900.000₫</span>
                </div>
                <a href="#" title="Thêm vào giỏ hàng"><span class="add_to_cart"></span></a>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 chain-grid grid-top-chain">
        <a href="single.html"><img class="img-responsive chain" src="/Assets/client/images/New/New4.png" alt=" " /></a>
        <span class="star"> </span>
        <div class="grid-chain-bottom">
            <h6><a href="single.html">SS Galaxy J7 Prime</a></h6>
            <div class="star-price">
                <div class="dolor-grid">
                    <span class="product_price_bot">7.900.000₫</span>
                </div>
                <a href="#" title="Thêm vào giỏ hàng"><span class="add_to_cart"></span></a>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>

    <div class="clearfix"> </div>
</div>
<div class="clearfix"> </div>
    </div>
<div class="sub-cate">
    @{ Html.RenderAction("LeftMenu", "Home");}
    <!--initiate accordion-->
    <script type="text/javascript">
        function GetQuantityCartItem(productid) {
            $.ajax({
                url: '/Cart/Add_Item/' + productid,
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    alert('Thêm vào giỏ hàng thành công');
                }
            });
        }

        var menu_ul = $('.menu > li > ul'),
               menu_a = $('.menu > li > a');
        menu_ul.hide();
        menu_a.click(function (e) {
            e.preventDefault();
            var link = $(this).attr('href');
            if (link != '#') {
                window.location.href = link;
            }
            else if (!$(this).hasClass('active')) {
                menu_a.removeClass('active');
                menu_ul.filter(':visible').slideUp('normal');
                $(this).addClass('active').next().stop(true, true).slideDown('normal');
            }
            else {
                $(this).removeClass('active');
                $(this).next().stop(true, true).slideUp('normal');
            }
        });
    </script>
    <div class=" chain-grid menu-chain">
        <a href="single.html"><img class="img-responsive " src="/Assets/client/images/Hot.png" alt=" " /></a>
    </div>
    <a class="view-all all-product" href="product.html">Xem tất cả sản phẩm<span> </span></a>
</div>
<div class="clearfix"> </div>
    </div>


