@model List<Model.EF.Product>
@using Model.EF
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var notif = ViewBag.Notif;
}
@section jsProduct{
    <script src="/Assets/admin/js/Currency.js"></script>
    <script src="/Assets/admin/js/Product.js"></script>
}
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Sản phẩm</h4>
                @{
                    if (notif == "Thêm thành công")
                    { <div class="alert alert-success">notif</div>}
                    else if (notif != null)
                    { 
                       <div class="alert alert-danger">notif</div>
                    }
                }
            </div>
            <form action="/Admin/Product/Insert" method="post" enctype="multipart/form-data">

                <div class="modal-body">
                    <div>
                        Tên sản phẩm
                        <span><input type="text" name="name" id="name"></span>
                    </div>
                    <div>
                        Loại sản phẩm
                        <span>
                            <select class="category" id="category_add" name="categoryid">
                                <option selected>Loại sản phẩm</option>
                            </select>
                        </span>
                    </div>
                    <div>
                        Hãng
                        <span>
                            <select id="brand_add" class="brand" name="brandid"></select>
                        </span>
                    </div>
                    <div>
                        Giá
                        <span><input type="text" name="price" id="price"></span>
                    </div>
                    <div>
                        Bảo hành
                        <span><input type="text" name="warranty" id="warranty"></span>
                    </div>
                    <div>
                        Description
                        <span><input type="text" name="description" id="description"></span>
                    </div>
                    <div>
                        Số lượng
                        <span><input type="text" name="quantity" id="quantity"></span>
                    </div>
                    <div>
                        Ảnh chính
                        <span id="main_image" style="display:inline-block"><input type="file" name="file" id="image"></span>
                        <div style="width:100px; height:100px; margin: 20px 0 0 260px; " id="addimg"></div>
                    </div>
                    <div>
                        Các ảnh khác
                        <span></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-success" value="Lưu" id="submit_add"/>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                </div>
</form>
        </div>

    </div>
</div>


<!-- Modal -->
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Quản lý sản phẩm </h1>
        </div>
        <div id="row_filter">
            <label class="col-md-1">
                Lọc
            </label>
            <div>

            </div>
            <div class="col-md-2">
                <select id="category" class="form-control category">             
                </select>
            </div>
            <div class="col-md-2">
                <select class="form-control brand" id="brand">
                    <option id="0">Chọn hãng</option>
                </select>
            </div>
            <div style="float: right">
                <button class="btn btn-primary" data-toggle="modal" data-target="#myModal">Thêm sản phẩm</button>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row" style="margin-top: 10px;">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Sản phẩm
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Tên sản phẩm</th>
                                <th>Giá</th>
                                <th>Số lượng</th>
                                <th>Ảnh</th>
                                <th>Thao tác</th>
                            </tr>
                        </thead>
                        <tbody id="table">
                           @foreach (var item in Model)
                           {
                            <tr>
                                <td>@item.ID</td>
                                <td>@item.Name</td>
                                <td class="center">@item.Price.ToString("N0")</td>
                                <td class="center">@item.Quantity</td>
                                <td style="width: 100px; height: auto"><img src="@item.Image" class="img-responsive" /></td>
                                <td><button class="btn btn-success btn_image" data-id="@item.ID" >Quản lý ảnh</button> | <button class="btn btn-primary editadminproduct" data-id="@item.ID" >Sửa</button> | <a class="btn btn-danger deleteadminproduct" data-id="@item.ID" id="adminDelete">Xóa</a></td>
                            </tr>
                           }
                        </tbody>
                    </table>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>

</div>

<div class="modal fade" id="editModel" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Sản phẩm</h4>
            </div>
            <form action="/Admin/Product/Edit" method="post" enctype="multipart/form-data">
                <div class="modal-body">
                    <input type="hidden" name="ProductID" id="input0" />
                    <div>
                        Tên sản phẩm
                        <span><input type="text" name="name" id="input1"></span>
                    </div>
                    <div>
                        Giá
                        <span><input type="text" name="price" id="input4"></span>
                    </div>
                    <div>
                        Số lượng
                        <span><input type="text" name="quantity" id="input5"></span>
                    </div>
                    <div>
                        Ảnh chính
                        <span id="main_image" style="display:inline-block"><input type="file" name="file" id="imageEdit"></span>
                        <div style="width:100px; height:100px; margin: 20px 0 0 260px; " id="editimg"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-success" value="Lưu" id="edit_Save" />
                    <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                </div>
            </form>
        </div>

    </div>
</div>


@* Modal quan ly anh *@
<div class="modal fade" id="imagemodal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Quản lý ảnh</h4>
            </div>
            
                <div class="modal-body">
                    <input type="hidden" id="productID" value="0" />
                    <div id="imgList">

                    </div>
                    <div class="clearfix"></div>
                    <button id="chooseImg"  class="btn btn-primary" >Thêm ảnh</button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" value="Lưu" id="saveImg">Lưu </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                </div>

        </div>

    </div>
</div>

@* Modal Yes NO *@
<div class="modal fade" id="confirm_delete"  role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                Xóa sản phẩm
            </div>
            <div class="modal-body" id="notif">
               Bạn muốn xóa sản phẩm này?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <a class="btn btn-danger" id="btn_ok">Delete</a>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    function getDetailProduct(id) {
        $.ajax({
            url: '/Admin/Product/Get/' + id,
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                $("#input1").val(data.Name);
                $("#input2").val(data.Metatitle);
                $("#input3").val(data.Metakeyword);
                $("#input4").val(data.Price);
                $("#input5").val(data.Quantity);
                $("#input7").val(id).hide();
                $("#editModel").modal('show');
            },
            error: function (err) {
                alert("Error: " + err.responseText);
            }
        });
    }
</script>