@model List<BigShop.Models.CartItem>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    long is_login = ViewBag.Is_Login;
}
@section jsCart{

    <script src="/Assets/client/js/Cart.js"></script>
}
<div class="container">
    @if (Model.Count > 0)
    {
        <div id="cart_title">
            <h4>GIỎ HÀNG CỦA TÔI </h4>
            <span style="padding-left: 40px;">@Model.Sum(x => x.Quantity) sản phẩm</span>
            <span style="padding-left: 400px;">Giá</span>
            <span style="padding-left: 145px;">Số lượng</span>
        </div>
        <div id="shopping_cart">
            @foreach (var item in Model)
            {
                <div class="row_cart_item">
                    <div class="img_cart_item"><img class="img-responsive" src="@item.Product.Image"></div>
                    <div class="col_info">
                        <a class="name" style="text-decoration: none;">@item.Product.Name</a><br>
                        <button type="button" class="btn btn-danger aDelete" data-id="@item.Product.ID">Xóa</button>
                    </div>
                    <div class="col_price"><p>@item.Product.Price.ToString("N0")₫</p></div>
                    <div class="btn_quantity">
                        <span><button type="button" class="btn btn-default btnDes" data-id="@item.Product.ID">-</button></span>
                        <span><input type="text" name="quantity" value="@item.Quantity" disabled /></span>
                        <span><button type="button" class="btn btn-default btnIden" data-id="@item.Product.ID">+</button></span>
                    </div>
                </div>
            }
        </div>
        <div class="payment">
            <div class="pay_info">
                Tổng tiền
                <span style="padding-left: 100px;">@Model.Sum(x => x.Product.Price * x.Quantity).ToString("N0")₫</span>
            </div>
            <button class="btn btn-primary btn-block" id="btnPayment">Tiến hành đặt hàng</button>
            <button type="button" class="btn btn-primary btn-block" id="btnContinue">Tiếp tục mua hàng</button>
        </div>
    }
    else
    {
        <div class="alert alert-danger">Giỏ hàng của bạn chưa có sản phẩm nào</div>
    }
</div>

<script type="text/javascript">
    // su kien kiem tra dang nhap cho trang thanh toan
    $('#btnPayment').click(function () {
        if(@is_login > 0)
        {
            window.location.href = "/thanh-toan";
        }
        else{
            alert("dang chay den su kien chua dang nhap");
            var x = document.URL;
            $.ajax({
                url: '/User/GetUrl/',
                data: { _url: x },
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    window.location.href = "/dang-nhap";
                }
            });
        }
    })
</script>